@import "normalize.css";
@import "syntax.css";

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"),
    url(https://themes.googleusercontent.com/static/fonts/ubuntu/v4/OsJ2DjdpjqFRVUSto6IffLO3LdcAZYWl9Si6vvxL-qU.woff)
      format("woff");
}
@font-face {
  font-family: "Ubuntu Light";
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu Light"), local("Ubuntu-Light"),
    url(https://themes.googleusercontent.com/static/fonts/ubuntu/v4/_aijTyevf54tkVDLy-dlnLO3LdcAZYWl9Si6vvxL-qU.woff)
      format("woff");
}

/* global styles */
body {
  margin: 0;
  /* background: #424242;
  color: #fff; */
  background: #fff;
  color: #424242;
  font-family: Ubuntu, sans-serif;
}
a,
a:visited,
a:hover {
  font-weight: bold;
  /* color: #f48fb1; */
  color: rgba(0, 0, 0, 0.87);
}
body,
html,
#container {
  height: 100%;
  width: 100%;
}

/* nav */
#header {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 68px;
  color: #fff;
  background: #272822;
}
#header a {
  color: #fff;
  text-decoration: none;
}
#header-left {
  display: inline-block;
  width: 20%;
  padding-left: 10%;
  text-align: left;
}
#header-right {
  display: inline-block;
  width: 59%;
  padding-right: 10%;
  text-align: right;
}

/* index */
#right {
  text-align: right;
  padding-right: 10%;
  height: 170px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
#right h1 {
  font-size: 6em;
  margin: 0;
}
.horizontal {
  list-style: none;
  padding: 0;
  margin: 0;
}
.horizontal li {
  display: inline;
}
.horizontal li a {
  text-decoration: none;
  font-size: 2em;
  margin-left: 20px;
}

/* post */
#rss {
  font-size: 0.8em;
}
#center {
  text-align: left;
  position: relative;
  padding-top: 20px;
  width: 50%;
  margin: auto;
  line-height: 1.4em;
}
#center img {
  max-width: calc(100vw - 10%);
}
.highlight pre {
  color: #fff;
  padding: 0.7em;
  border-radius: 3px;
  overflow-x: scroll;
}
.post {
  padding-bottom: 40px;
  font-family: "Ubuntu Light", sans-serif;
}
.post h1 {
  line-height: 1.1em;
}
#sub-header {
  padding: 1px 0;
}

/* mobile */
@media (max-width: 1220px) {
  #header {
    text-align: center;
  }
  #header-left {
    padding: 0;
    width: auto;
  }
  #header-right {
    padding: 0;
    width: auto;
  }
  .horizontal li a {
    font-size: 1.5em;
  }
  #sub-header h1 {
    font-size: 1.5em;
  }
  #center {
    width: 75%;
  }
}
@media (max-width: 768px) {
  #header-left {
    display: block;
    text-align: center;
    padding-top: 4px;
  }
  #header-left h2 {
    margin: 0;
  }
  #header-right {
    padding-top: 5px;
  }
  .horizontal li a {
    font-size: 1em;
  }
  #sub-header h1 {
    font-size: 1em;
  }
  #center {
    width: 90%;
  }
  #right h1 {
    font-size: 4em;
  }
}
@media (max-width: 480px) {
  #right .horizontal li {
    display: block;
  }
  #right h1 {
    font-size: 2em;
  }
  #header-right .horizontal li a {
    font-size: 0.8em;
    margin-left: 7px;
  }
}
