---
title: andrebluehs dot net blog
layout: default
---
<div id='center'>
    {% for post in paginator.posts %}
        <div class='post'>
            <h1>
                <a href='{{ post.url }}'>{{ post.title }}</a>
            </h2>
            {{ post.content }}
        </div>
    {% endfor %}
    <div class="navigation">
        {% if paginator.next_page %}
            <div id='older'>
                <a href="/page{{paginator.next_page}}">Older Entries</a>
            </div>
        {% endif %}
        {% if paginator.previous_page %}
            <div id='newer'>
                <a href="/page{{paginator.previous_page}}">Newer Entries</a>
            </div>
        {% endif %}
        <div style='clear:both;'><div>
    </div>
    <div id='rss'>
        <a href="http://feeds.feedburner.com/andrebluehs">rss feed</a>
    </div>
</div>
