---
import "modern-normalize/modern-normalize.css";
import "../../styles/global.css";

import Head from "../../components/Head.astro";
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <Head title="andre bluehs blog" />

  <body>
    <main id="container">
      <Nav />

      <section id="center">
        <section id="rss">
          <a href="https://feeds.feedburner.com/andrebluehs">rss feed</a>
        </section>

        <section id="posts">
          <ul>
            {
              posts.map((post) => (
                <li>
                  <a href={`/blog/${post.id}/`}>
                    <h4 class="title">{post.data.title}</h4>
                  </a>
                  <p class="excerpt">
                    {post.body?.split("\n")[0].replace(/\[(.*)\]\(.*\)/, "$1")}
                  </p>
                </li>
              ))
            }
          </ul>
        </section>
      </section>
    </main>

    <Footer />
  </body>
</html>

<style>
  #center {
    text-align: left;
    position: relative;
    padding-top: 20px;
    width: 50%;
    margin: auto;
    line-height: 1.4em;
  }
  #rss {
    font-size: 0.8em;
  }
  #posts ul {
    padding: 0;
    margin: 0;
  }
  #posts li {
    list-style: none;
    padding: 4px 0 4px 0;
  }
  #posts h4 {
    font-size: 2em;
    font-family: "Ubuntu Light";
  }
  .excerpt {
    font-family: "Ubuntu Light";
  }

  @media (max-width: 1220px) {
    #center {
      width: 75%;
    }
  }

  @media (max-width: 768px) {
    #sub-header h1 {
      font-size: 1em;
    }
    #center {
      width: 90%;
    }
  }
</style>
