@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/OsJ2DjdpjqFRVUSto6IffLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

#itiagts {text-align: left;position: relative;padding-top: 20px;width: 860px;margin: auto;}
#input {width: 600px;margin:auto;}
#search {padding: 4px;border-radius: 5px;outline:none;}
.sample {padding: 6px;cursor: pointer;border-bottom: 1px solid #ccc;}
.sample:hover{background: #ccc;}
.clicked{background:#C5FFBB;}
#playing{font-size:12px;padding:3px;background-color:#999;color:#fff;}
.found {font-weight: bold;color:black;}
#vid-title{text-align:center;font-size:29px;font-weight: bold;}
#result {padding-top: 20px;min-height: 500px;}
#no{font-size: 100px;font-weight: bold;text-align: center;}
a {color: #999;}
#footer{font-size:11px;color:#777;}