<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="andre bluehs personal website web development internet">
    <meta name="author" content="Andre Bluehs">

    <link rel="shortcut icon" href="http://abcdn.us/img/andrebluehs/favicon.png" />
    <link rel="stylesheet" href="http://abcdn.us/css/andrebluehs/style.css">
</head>
<body>
    <div id='container'>
        {{ content }}
    </div>
    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31275216-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>